@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    /*Deslisamiento(scroll) en el menu*/
    scroll-behavior: smooth;
}

    /*Menu*/
.contenedor-header{
    background: #1f1e26;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;


}

.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #a55fff;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;

}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: 0.5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color:#a55fff;
}

.nav-responsive{
    background-color: #a55fff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


/*Inicio*/

.inicio{
    background: linear-gradient(to top, rgba(31, 30, 38, 0.8), rgb(32, 30, 38)), url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color:#1f1e26;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    border-radius: 100%;
    transform: scaleX(-1);
    margin-top: 40px;
    border: 10px solid #a55fff;
    display: block;
    width: 80%;
    margin: auto;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;

}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 30px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #a55fff;
}

.sobremi {
    background-color: #1f1e26;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color: #a55fff;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
    list-style: none;

}

.sobremi .fila .col ul li{
    margin: 12px 0;

}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #a55fff;
    width: 130px;
}

.sobremi .fila .col ul li span{
    background-color: #a55fff;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color:#363442;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #a55fff;
}

.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #a55fff;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
}

/* Seccion Skills */

.skills {
    background-color: #363442;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.skills .fila{
    display: flex;

}

.skills .fila .col{
    width: 50%;
    padding: 0 20px;

}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;

}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #1f1e26;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso{
    background-color: #a55fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #a55fff;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 20px;

}

.skills .skill .barra-skill .ps-size{
    font-size: 16px;
}

.skills .skill .barra-skill .java-size{
    font-size: 22px;
}

.skills .skill .barra-skill span svg{
    position:absolute;
    top: 6px;
    right: 8px;
}


/*estas clases se agregar dinamicamente en javascript*/
.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}

@keyframes java {
    0%{width: 0%;}
    100%{width: 75%;}
    
}

.skills .skill .html{
    width: 0%;
    animation: 2s html forwards;
}

@keyframes html {
    0%{width: 0%;}
    100%{width: 50%;}
    
}

.skills .skill .css{
    width: 0%;
    animation: 2s css forwards;
}

@keyframes css {
    0%{width: 0%;}
    100%{width: 50%;}
    
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0%{width: 0%;}
    100%{width: 40%;}
    
}

.skills .skill .kotlin{
    width: 0%;
    animation: 2s kotlin forwards;
}

@keyframes kotlin {
    0%{width: 0%;}
    100%{width: 65%;}
    
}

/*.skills .skill .mysql{
    width: 0%;
    animation: 2s mysql forwards;
}

@keyframes mysql {
    0%{width: 0%;}
    100%{width: 75%;}
    
}
proximamente*/

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}

@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 75%;}
    
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 90%;}
    
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}

@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 100%;}
    
}

.skills .skill .responsabilidad{
    width: 0%;
    animation: 2s responsabilidad forwards;
}

@keyframes responsabilidad {
    0%{width: 0%;}
    100%{width: 90%;}
    
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 90%;}
    
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 100%;}
    
}

.skills .skill .proactividad{
    width: 0%;
    animation: 2s proactividad forwards;
}

@keyframes proactividad {
    0%{width: 0%;}
    100%{width: 90%;}
    
}

/*Sección Curriculum*/

.curriculum {
    background-color:#1f1e26;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.curriculum .fila{
    display: flex;
    justify-content: space-between;

}

.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda{
    border-right: 2px solid #363442;
}

.curriculum .fila .derecha{
    border-left: 2px solid #363442;
}

.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #363442;
    position: relative;
}

.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa{
    color:#a55fff;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha{
    display: block;
    color: #a55fff;
    margin-bottom: 10px;
}

.curriculum .fila .item p{
    line-height: 24px;
}

.curriculum .fila .izq{
    border-right: 2px solid #a55fff;
    margin-right: 20px;
}

.curriculum .fila .der{
    border-left: 2px solid #a55fff;
    margin-left: 20px;
}

.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #a55fff;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #a55fff;
    float: right;
    position: relative;
    bottom: 4px;

}

.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #a55fff;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #a55fff;
    float: left;
    position: relative;
    bottom: 4px;

}

.curriculum .fila .item a{
    text-align: none;
    color: #fff;
    margin-left: 95%;
    padding: 3px;
    transition: 0.5s;
    text-decoration: none;
    display: block;
}

.curriculum .fila .item a:hover{
    color:#fcef39;
}

/*Sección Portafolio*/

.portafolio {
    background-color:#363442;
    color: #fff;
    padding: 50px 20px;
}

.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.portafolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria .proyecto img{
    width: 100%;
    display: block;
}

.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(165, 95, 255, 0.8), rgba(165, 95, 255, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portafolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;

}

.portafolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.portafolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

/*Seccion Contacto*/

.contacto{
    background-image: url(img/fondomundo.jpg);
    background-color: #1f1e26;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}

.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;

}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #363442;
    color: #fff;
    font-size: 18px;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #a55fff;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay{
    width: 100%;
}

.contacto .col img{
    width: 100%;
}

.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #363442;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul li{
    margin-bottom: 20px;
}

.contacto .col .info ul li i{
    color: #a55fff;
    display: inline-block;
    margin-right: 20px;
}

/*Footer*/
footer{
    background-color:#363442;
    color:#fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;

}

footer .redes {
    margin-bottom: 20px;

}

footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 30px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #a55fff;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;

}

/*Sección Responsive*/
@media screen and (max-width:980px) {
    nav{
        display: none;
    }

    .nav-responsive{
        display: block;
    }

    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color:#363442;
        width: 180px;
    }
    
    nav.responsive ul{
        display: block !important;
    }
    
    nav.responsive ul li{
        border-bottom: 1px solid #ffffff;
        padding: 10px 0;
    }
}

.modal-active {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(102, 102, 102, 0.5);
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-modal {
    min-width: 400px;
    min-height: 250px;
    background-color: white;
    position: relative;
}

.modal-inactive {
    display: none;
}

.image-modal {
    width: 100%;
    height: auto;
    background-size: cover;
}

.button-modal {
    background-color:#363442;
    border: transparent;
    border-radius: 30%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    position:absolute;
    right: 0px;
    display:block;
    justify-content: center;
}

.modal-active1 {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(102, 102, 102, 0.5);
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-modal1 {
    min-width: 400px;
    min-height: 250px;
    background-color: white;
    position: relative;
}

.modal-inactive1 {
    display: none;
}

.image-modal1 {
    width: 100%;
    height: auto;
    background-size: cover;
}

.button-modal1 {
    background-color:#363442;
    border: transparent;
    border-radius: 30%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    position:absolute;
    right: 0px;
    display:block;
    justify-content: center;
}

.curriculum button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 10px 90%;
    padding: 5px 7px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.curriculum button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #a55fff;
    z-index: -1;
    transition: 1s;
}

.curriculum button:hover .overlay{
    width: 100%;
}

@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }

    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }

    .skills .fila .col{
        width: 100%;
    }

    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }

    .curriculum .fila .col{
        width: 90%;
    }

    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portafolio .galeria{
        display: block;
        width: 100%;
    }

    .portafolio .galeria .proyecto{
        max-width: 100%;
    }

    .portafolio .galeria .proyecto img{
        width: 100%;
    }

    .contacto .fila{
        display: block;
    }

    .contacto .fila .col{
        width: 100%;
    }
}

